header {
    width: 100%;
    height: 130px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-color: rgba(241, 250, 157, 0.8);
    
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    left: -45%;
    position: relative;
}

.menu-items {
    display: block;
    position: absolute;
    top: 100px; /* Adjust top position as needed */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.menu-items a {
    display: block;
    padding: 5px 0;
    text-align: center;
    color: #333;
    text-decoration: none;
}

.menu-items a:hover {
    color: rgb(173, 226, 166);
}